* {
    padding: 0;
    margin: 0;
}

.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    width: 28vw;
    height: 80vh;
    border: 2px solid black;
    border-radius: 20px;
    background-color: black;
}

.row {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
}

.row input {
    width: 15rem;
    height: 3rem;
    padding: 2px 1rem;
    font-size: 1rem;
    font-weight: 600;
    border: 2px solid black;
    border-radius: 5px;
}

.button {
    width: 3rem;
    height: 3rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 600;
}

.switch-row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: -1rem;
}

h1{
    color: white;
}

.bulb{
    width: 2rem;
    height: 2rem;
    background-color: red;
    border-radius: 50%;
    border: 1px solid black;
}

.btnOn{
    width: 3rem;
    height: 3rem;
    border-radius: 5px;
    font-size: 1rem;
    background-color: green;
    font-weight: 600;
}
.btnOff{
    width: 3rem;
    height: 3rem;
    border-radius: 5px;
    font-size: 1rem;
    background-color: red;
    font-weight: 600;
}